#full {
    height: 800px;
    width: 800px;
    background-image: url(img/background.jpg);
    margin: 0 auto;
    position: relative;
    border: 4px groove #6309F7;
}

/*#start-block {
    width: 100%;
    height: 100%;
    background-image: url(img/startBlock.jpg);
    position: absolute;
    top: 0;
    left: 0;
}*/

.restart {
    margin: 275px auto;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #3616b530;
    font-size: 30px;
}


.info_block {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 150px;
    height: 80px;
    font-size: 25px;
    color: #03c3fd;
    font-style: italic;
    font-weight: bold;
}

.lifes {
    position: absolute;
    position: 50px;
    top: 10px;
    right: 10px;
    display: block;
}

.lifes span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #0D08F0;
    border: 3px outset #79E5F8;
    display: block;
    float: left;
}

.ship {
	height: 120px;
    width: 56px;
    position: absolute;
    bottom: 0;
    left: 372px;
    display: block;
    background-image: url(img/ship.png)
}

.asteroid {
	height: 30px;
    width: 30px;
    position: absolute;
    top: 50px;
    transition: all 1s;
    background-image: url(img/asteroid.png);
}

.game_over {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/startBlock.jpg);
    color: #915dd6;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}
